<main>
	<h1 translate="views.contact.header"></h1>
	<!-- <p translate="views.contact.description"></p> -->

	<div class="wrapper">
        <div class="form-header" translate="views.contact.description"></div>
            <div class="form-row">
                <div class="form-label" translate="form.name"></div>
                <div class="form-field">
                    <input type="text" name="name" placeholder="John Doe"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-label" translate="form.email"></div>
                <div class="form-field">
                    <input type="text" name="email" placeholder="your@mail.tld" /> </div>
            </div>
            <div class="form-row">
                <div class="form-label" translate="form.message" placeholder="..."></div>
                <div class="form-field">
                    <textarea name="message" rows="5" cols="50"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-label" translate="form.reason"></div>
                <div class="form-field">
                    <select name="service" class="form-select">
                        <option value="one" translate="form.reasons.info"></option>
                        <option value="two" translate="form.reasons.request"></option>
                        <option value="three" translate="form.reasons.complaint"></option>
                        <option value="four" translate="form.reasons.other"></option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-label"> &nbsp; </div>
                <div class="form-field">
                    <!-- <input type="submit" name="message" value="Submit" /> -->
					<button class="reset-btn" translate="form.reset"></button>
					<button class="submit-btn" translate="form.submit"></button>
                </div>
            </div>
    </div>
</main>


<style>
	*,
	*:before,
	*:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	body {
		font-family: arial, verdana;
		font-size: 15px;
	}




</style>