<footer id="footer">
	<div class="footer_wrapper">
	  &copy;
	  <a href="/" translate="footer.companyname"></a> <br><br>
	  <a href="imprint" translate="footer.imprint"></a> |
	  <a href="privacy" translate="footer.privacy"></a> |
	  <a href="contact" translate="footer.contact"></a> |
	  <a href="/" translate="footer.home"></a>
	 
	 <br> <br>
	  <select name="languages" id="lang" onchange="changeLanguage()">
		<option value="de" translate="language.german"></option>
		<option value="en" translate="language.english"></option>
	  </select>
	  <br />
	  <br />
	</div>
  </footer>
  