<nav class="topnav" id="topnav"><img class="logo" src="/statics/images/header.png" alt="logo">
	<div class="navwrapper"><a href="/controlpanel"><i class="fa fa-terminal" aria-hidden="true"></i> <span translate="navbar.controlpanel"></span></a>
		<a href="/cp/orders"><i class="fa fa-shopping-cart"></i> <span translate="navbar.orders"></span></a>
    <a href="/cp/users"><i class="fa fa-users" aria-hidden="true"></i> <span translate="navbar.users"></span></a>
    <a href="/cp/settings"><i class="fa fa-cogs" aria-hidden="true"></i> <span translate="navbar.settings"></span></a>
	<!-- <a href="contact"><i class="fa fa-envelope" aria-hidden="true"></i> <span translate="navbar.contact"></span></a> -->
	<a href="javascript:void(0)" onclick="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>&nbsp;</span> </a>
	<a href="javascript:void(0);" class="icon">
		<i class="fa fa-bars"></i>
	</a></div>
</nav>