<nav class="topnav" id="topnav"><img class="logo" src="/statics/images/header.png" alt="logo">
	<div class="navwrapper"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> <span translate="navbar.home"></span></a>
    <a href="project"><i class="fa fa-archive" aria-hidden="true"></i> <span translate="navbar.project"></span></a>
	<a href="order"><i class="fa fa-shopping-cart"></i> <span translate="navbar.order"></span></a>
    <a href="about"><i class="fa fa-user-circle" aria-hidden="true"></i> <span translate="navbar.about"></span></a>
	<!-- <a href="contact"><i class="fa fa-envelope" aria-hidden="true"></i> <span translate="navbar.contact"></span></a> -->
	<a href="javascript:void(0);" class="icon">
		<i class="fa fa-bars"></i>
	</a></div>
</nav>